:root {
    --dark: rgb(44, 62, 53);
    --light: aliceblue;
}

#column {
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--light);
}

header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(120, 165, 204);
    color: var(--light);
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    min-width: 360px;
    list-style: none;
}

h1,
nav {
    margin: 2% 4% 2% 3%;
    justify-content: space-between;
}

h1 {
    font-size: 2rem;
}

li a {
    color: var(--light);
    text-decoration: none;
    font-size: 1.2rem;
}

/* nav a:hover {
    color: var(--dark);
    font-weight: bolder;
  } */

a {
    color: var(--dark);
    text-decoration: none;
}

.mainImage {
    /* height: 400px; */
    width: 100%;
    margin-bottom: 25px;
    /* background-image: url("../Images/self-photo.jpg"); */
    background-size: cover;
    background-position: center;
}

#all {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.card {
    display: flex;
    min-width: 98%;
    justify-content: center;
    margin: 1.2rem;
}

/* #contactCard {
    padding-bottom: 5rem;
} */

.titles {

    width: 28%;
    font-size: 1.4rem;
}

.content {
    font-size: 1.19rem;
    width: 68%;
    min-height: 80%;
    padding-right: 1rem;
}

.space {
    padding-bottom: 0.5rem;
}

h2 {
    color: rgb(120, 165, 204);
    background-color: var(--light);
    font-size: large;
    font-weight: bolder;
}

.try,
.other1,
.other2 {
    display: flex;
    position: relative;
}

h3 {
    position: absolute;
    background-color: var(--light);
    color: var(--dark);
    font-weight: lighter;
    font-style: italic;
    padding: 0.2rem;
    min-width: 10%;
    font-size: 1.1rem;
    border: solid .05rem;
    border-color: rgba(192, 203, 204, 50%);
    border-radius: 5px;
    top: -0.5rem;
    left: -0.5rem
}

.bigWork {
    width: 88%;
}

.otherWork1,
.otherWork2 {
    justify-content: space-evenly;
    max-width: 40%;
    align-items: center;
}

.bigWork:hover,
.otherWork1:hover,
.otherWork2:hover,
.bigWork:hover h3,
.otherWork1:hover h3,
.otherWork2:hover h3 {
    box-shadow: inset 0px 0px 8px var(--dark), 0 0 15px var(--dark);
    opacity: 1;
}

img {
    opacity: 0.7;
}

.logo {
    min-width: 1rem;
}

@media screen and (max-width: 992px) {


    .card {
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }

    .content img {
        width: 85%;
        align-items: center;
    }

    .titles {
        padding: 1rem;
    }

}

@media screen and (max-width: 768px) {

    header {
        flex-direction: column;
    }

}

@media screen and (max-width: 600px) {

    .card {
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        max-width: fit-content;
    }

    .form {
        max-width: fit-content;
    }

}